PyPDF2>=3.0.0
pdfplumber>=0.7.5
pillow>=9.0.0
pytesseract>=0.3.10
openai>=0.27.0
streamlit==1.35.0
PyPDF2==3.0.1
spacy==3.7.5
pandas==2.2.2
matplotlib==3.9.2
networkx==3.3
scikit-learn==1.5.2
numpy==1.26.4
sentence-transformers==3.0.1
keybert==0.8.5
nltk==3.8.1
blis==0.7.11